body {
	font-family: Avenir;
	font-size: 18px;
}

.logo {
	background-image: url(/Users/j.pang/NapPlayWebPage/images/TNB-Wordmark.png);
	background-repeat: no-repeat;
	text-align: center;
	height: 307px; 
	width: 455px;
	margin: 0 auto;
}

.center {
	text-align: center;
	width: 557px; 
	margin: auto;
}

.video {
	background-image: url(/Users/j.pang/NapPlayWebPage/images/video-placeholder.png);
	background-repeat: no-repeat;
	height: 450px;
	width: 858px;
	margin: 30 auto;
}

.details {
	text-align: center;
	width: 450px;
	margin: auto;
}

.details-2 {
	text-align: center;
	margin: 0 auto;
}

.enterEmail {
	width: 488px;
	margin: auto;
	padding: 38 0 44 0;
}

input[type='text'] {
	font-family: Avenir;
	font-size: 18px;
	width: 488px;
	height: 50px;
	margin: auto;
	padding: 10px;
}

.submitButton {
	width: 291px;
	margin: auto;
}

input[type='submit'] {
	font-family: Avenir;
	font-size: 16px;
	width: 291px;
	height: 55px;
	border-radius: 8px;
	background-color: #FFFFFF;
	border-color: #000000;
	border-width: 1px;
}

.imagesHolder {
	width: 713px;
	margin: 54 auto 54;
}

.deviceImages {
	background-image: url(/Users/j.pang/NapPlayWebPage/images/ipad-iphone.png);
	background-repeat: no-repeat;
	text-align: center;
	height: 513px; 
	width: 455px;
	float: left;
	padding-right: 30px;
}

.appstoreIcon {
	background-image: url(/Users/j.pang/NapPlayWebPage/images/appstoreicon.png);
	background-repeat: no-repeat;
	height: 66px; 
	width: 222px;
	overflow: hidden;
	vertical-align: bottom;
	margin-top: 500px;
}

.loveFeedHolder {
	border-top: #D2D2D2 solid 1px;
	margin-top: 54px;
	border-bottom: #D2D2D2 solid 1px;
	margin-bottom: 54px;
}

.loveFeedCopy {
	background-image: url(/Users/j.pang/NapPlayWebPage/images/loveFeedCopy.png);
	background-repeat: no-repeat;
	height: 57px;
	width: 330px;
	margin: 54 auto;
}

.loveFeed {
	background-image: url(/Users/j.pang/NapPlayWebPage/images/loveFeed.png);
	background-repeat: no-repeat;
	height: 447px;
	width: 1034px;
	margin: auto;
}

.socialMediaLinks {
	list-style: none;
	width: 543px;
	margin: auto;
}

li {
	float: left;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	margin-right: 60px;
}

.instagram {
	background-image: url(/Users/j.pang/NapPlayWebPage/images/instagram.png);
}

.twitter {
	background-image: url(/Users/j.pang/NapPlayWebPage/images/twitter.png);
}

.facebook {
	background-image: url(/Users/j.pang/NapPlayWebPage/images/facebook.png);
	
}

.footer {
	overflow: auto;
	clear: both;
}

.hashtag {
	font-size: 24px;
	text-align: center;
	margin: 60 auto;
	font-weight: 500;
}

.termsAndConditions {
	font-size: 12px;
	text-align: center;
	margin: auto;
}

