/* view for desktop */

body {
	font-family: Avenir;
	font-size: 18px;
	width: 960px;
	margin: 0 auto;
}

.logo {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.center {
	text-align: center;
	margin: auto;
	width: 100%;
	padding-top: 30px;
}

.videoPlaceholder {
	padding: 30px;
	margin: auto;
	width: 100%;
}

.introduction {
	text-align: center;
	width: 100%;
	margin: auto;
}

.enterEmail {
	width: 488px;
	margin: auto;
	padding: 20 0 44 0;
}

input[type='text'] {
	font-family: Avenir;
	font-size: 18px;
	width: 488px;
	height: 50px;
	margin: auto;
	padding: 10px;
}

.submitButton {
	width: 291px;
	margin: auto;
}

input[type='submit'] {
	font-family: Avenir;
	font-size: 16px;
	width: 291px;
	height: 55px;
	border-radius: 8px;
	background-color: #FFFFFF;
	border-color: #000000;
	border-width: 1px;
	-webkit-appearance: none;
}


.imagesHolder {
	width: 100%;
	display: inline-block;
	text-align:center;
}

.deviceImages {
	padding: 40px;
	display: inline-block;

}

.appstoreIcon {
	display: inline-block;
	
}

.loveFeedHolder {
	border-top: #D2D2D2 solid 1px;
	border-bottom: #D2D2D2 solid 1px;
	margin: auto;
	width: 100%;
	padding: 20px;
	clear: both;
}

.loveFeedCopy {
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 30px;
}

.loveFeed {
	width: 100%;
	margin: auto;
}

.socialIcons {
	text-align: center;
	padding: 50 10 10 10;
	width: 100%;
}

.socialMediaLinks {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

a:-webkit-any-link{
	text-decoration: none;
}

li {
	display: inline;

}

.twitter {
	padding: 70px;
}

.footer {
	overflow: auto;
	clear: both;
}

.hashtag {
	font-size: 24px;
	text-align: center;
	margin: 60 auto;
	font-weight: 500;
}

.termsAndConditions {
	font-size: 12px;
	text-align: center;
	margin: auto;
}


/* view for iPhone - Only applies while screen is 480 or less */

@media screen and (max-width: 480px){

	.deviceImages {
		display: block;
	}

	.appstoreIcon {
		padding-bottom: 30px;
	}

}



